netscope/RCA/
**/rca/

netscope/log/
netscope/pcap/
netscope/dist/
netscope/build/
netscope/*.egg-info/
netscope/*.html
netscope/**/log/*.json
netscope/**/p4/*.json
netscope/topology.json
netscope/*.pyc
netscope/*.p4i
netscope/*.p4rt
netscope/*.pcap
netscope/*mxexec.1
netscope/*mxexec
# **/p4src/*.json
netscope/*.graffle
netscope/*.db
netscope/*.log

netscope/**/*log/*.txt
netscope/host_log/

# !p4app.json
netscope/test.ipynb
netscope/analysis/*.txt
netscope/middle/*.txt
netscope/analysis/data/
netscope/host_log.zip

netscope/**/*_ig.py
netscope/**/data/
netscope/experiment/resources/
netscope/experiment/dump/
netscope/debug/
!netscope/build/spmf/.gitkeep

netscope/**/p4/include/render/
netscope/**/resources/
netscope/*.eps
netscope/*.pdf
netscope/*.png
netscope/*.txt
netscope/.DS_Store

netscope/temp/
netscope/wbr_Figures/
netscope/quantile_latency_analysis_bk.ipynb
netscope/nohup.out

count-min-sketch/
netscope-sketch/
netscope-www23/
MFQ/latency_measurement/
Seattle/
SketchPolymer/
*/log/
Synthetic/
webget_data/
EZQ_quantile_sketch.ipynb
quantile_sketch_base.ipynb
quantile_sketch_new.ipynb
*.csv